/* Variables de colores */
:root {
    --light: rgb(255, 255, 255);
    --primary: red;
    --secondary: brown;
}

/* Estilos generales para todos los elementos */
*, *::after, *::before {
    padding: 0;
    margin: 0;
}

/* Estilos para el cuerpo del documento */
body {
    background-color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para encabezados de nivel 1 */
h1 {
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

/* Contenedor principal */
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Estilos específicos para pantallas más grandes (más de 480px) */
@media (min-width: 480px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .card {
        margin: 10%;
        display: flex;
        flex-direction: column;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .card-description {
        flex-grow: 1;
    }
}

/* Estilos para encabezados de nivel 3 */
h3 {
    color: rgb(14, 80, 161);
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}

