body {
    background-color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kine-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.kine-item {
    flex: 0 0 30%; /* Define el ancho de cada cuadro según tus preferencias */
    margin: 10px;
    text-align: center;
    background-color: #fff; /* Agregamos un fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.kine-box {
    text-align: center;
    padding: 10px;
}

.kine-image img {
    display: block;
    margin: 0 auto;
    border-radius: 50%; /* Forma circular */
}

.kine-text {
    text-align: center;
    padding-top: 10px; /* Espacio entre imagen y texto */
}